@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat:wght@100..900&display=swap");
:root {
    --color-attribution-link: hsl(228, 45%, 44%);

    /* primary */
    --color-green-500: hsl(158, 36%, 37%);
    --color-green-700: hsl(158, 42%, 18%);

    /* neutral */
    --color-black: hsl(212, 21%, 14%);
    --color-grey: hsl(228, 12%, 48%);
    --color-cream: hsl(30, 38%, 92%);
    --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
}
/*
.font-fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}*/

body {
    font:
        500 14px/1.6 "Montserrat",
        sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-color: var(--color-cream);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fraunces", serif;
    line-height: 1;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 48rem;
    padding: 1rem;
}

.product-card {
    margin-inline: auto;
    max-width: 21.25rem;
    background-color: var(--color-white);
    border-radius: 0.75rem;
    overflow: hidden;
}

.product-card .image {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card .details {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-card .category {
    text-transform: uppercase;
    color: var(--color-grey);
    letter-spacing: 0.25rem;
}

.product-card .description {
    color: var(--color-grey);
}

.product-card .prices {
    font-family: "Fraunces", serif;
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}

.prices .current-price {
    color: var(--color-green-500);
    font-weight: 700;
}

.prices .discounted-from {
    font-size: 0.375em;
    text-decoration: line-through;
    color: var(--color-grey);
}

.product-card button.add-to-cart {
    background-color: var(--color-green-500);
    color: var(--color-white);
    height: 3rem;
    border-radius: 0.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.product-card button.add-to-cart:active {
    background-color: var(--color-green-700);
}

footer.attribution {
    height: 3rem;
    font-size: 0.75rem;
    text-align: center;

    background-color: var(--color-white);
    align-content: center;
}
footer.attribution a {
    color: var(--color-attribution-link);
}

@media (min-width: 48rem) {
    .product-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 36rem;
    }
    .product-card .image {
        aspect-ratio: auto;
    }
}
